<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Road to Glory</h1>
  <p>Welcome to Road to Glory admin panel.</p>
  <p>You can modify and review all the resources here.</p>
  <p><%- linkTo('Log in now »', '/users/login', {class: 'btn btn-primary btn-large'}) %></p>
</div>
