<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Hello, World!</h1>
  <p>Welcome to Road to Glory admin panel.</p>
  <p>You can modify and review all the resources here.</p>
  <p><%- linkTo('Lets get you started »', 'http://geddyjs.org/tutorial.html', {class: 'btn btn-primary btn-large'}) %></p>
</div>
