<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <header class="navbar-header">
                <span class="navbar-brand">
                    Road to Glory
                </span>
            </header>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Zalogowany jako: {{> loginButtons}}</a></li>
            </ul>
        </div>
    </nav>
</template>

<template name="navigation">
    <ul class="nav nav-pills nav-stacked clickable">
        <li><a href="#index">Index</a></li>
        <li><a href="#allMessages">Messages</a></li>
        <li><a href="#myMessages">Moje Wiadomości</a></li>
        <li><a href="#users">Użytkownicy</a></li>
        <li><a href="#myOrders">Rozkazy</a></li>
    </ul>
</template>
