<template name="header">
    <header>
        <h1>
            Road to Glory
        </h1>
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav clickable">
                <li><a href="#index">Index</a></li>
                <li><a href="#allMessages">Messages</a></li>
                <li><a href="#myMessages">Moje Wiadomości</a></li>
                <li><a href="#users">Użytkownicy</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Zalogowany jako: {{> loginButtons}}</a></li>
            </ul>
        </div>
    </nav>
</template>
