<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <header class="navbar-header">
                <span class="navbar-brand">
                    Road to Glory
                </span>
            </header>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Zalogowany jako: {{> loginButtons}}</a></li>
            </ul>
        </div>
    </nav>
</template>

<template name="navigation">
    <ul class="nav nav-pills nav-stacked">
        {{#each pageLinks}}
        {{> pageLink}}
        {{/each}}
    </ul>
</template>

<template name="pageLink">
    <li class={{classes}}><a href="#">{{label}}</a></li>
</template>
