<template name="messages">
    <div class="">
        {{> header}}
        <h2>Messages</h2>

        <ul>
            {{#each messages}}
            {{> message}}
            {{/each}}
        </ul>
        <h2>My messages:</h2>
        <ul>
            {{#each personalMessages}}
            {{> message}}
            {{/each}}
        </ul>
    </div>
</template>

<template name="message">
    <li class="{{#if checked}}checked{{/if}}">
        <button class="delete">&times;</button>
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
        <span class="text">
            <strong>{{senderName}}</strong> -> <strong>{{recipentName}}</strong>
            {{content}}
        </span>
    </li>
</template>
