<template name="users">
    <div class="">
        <h2>Users</h2>

        <table class="table table-striped">
            <tbody>
                {{#each users}}
                {{> user}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="user">
    <tr class="{{#if checked}}checked{{/if}}">
        <td>
            <button class="delete">&times;</button>
        </td>
        <td class="text">
            <strong>{{username}}</strong>
            {{role}}
        </td>
        <td>
            {{#if currentUser}}
            <form class="send-message">
                <input type="text" name="text" placeholder="Put message here" />
            </form>
            {{/if}}
        </td>
    </tr>
</template>
