
<template name="listAreas">
    <ul>
        {{#each areas}}
        {{> areaSummary}}
        {{/each}}
    </ul>
</template>

<template name="areaSummary">
    <li>
        <strong>{{name}}</strong>
        <mark>{{ownerName}}</mark>
        {{#collapsible}}
            {{> areaDetails}}
        {{/collapsible}}
    </li>
</template>

<template name="areaDetails">
  <div class="well well-sm">
    <h4>{{name}} (<code>{{_id}}</code>)</h4>
    <p>{{description}}</p>
    <h4>Typ terenu:</h4>
    <p>{{areaType}}</p>
    <h4>sąsiaduje z:</h4>
    <ul>{{#each connections}}<li>{{toName}}</li>{{/each}}</ul>
    {{#if isMaster}}
        <button type="button" class="btn btn-default edit">edycja</button>
        <button type="button" class="btn btn-danger remove">usuń</button>
    {{/if}}
  </div>
</template>
