<template name="newBattle">
    <h2>Symulator Bitwy</h2>
    <form class="row">
      <fieldset class="col-sm-6" name="sideA">
        <h4>Strona A</h4>
        {{> unitSelectOptions allUnits=allUnits}}
      </fieldset>
      <fieldset class="col-sm-6" name="sideB">
        <h4>Strona B</h4>
        {{> unitSelectOptions allUnits=allUnits}}
      </fieldset>
      <button type="submit" class="btn btn-primary">
        FIGHT!
      </button>
    </form>
    <ol>
      {{#each battleLog}}<li>{{.}}</li>{{/each}}
    </ol>
</template>

<template name="unitSelectOptions">
  {{#each allUnits}}
    <div class="checkbox">
      <label>
        <input type="checkbox" value="{{_id}}">
        {{name}}
      </label>
    </div>
  {{/each}}
</template>
