<template name="messageForm">
    <form class="message-form">
        <label class="form-group">
            <span>Adresat:</span>
            <select name="recipent">
                {{#each users}}
                    <option value="{{_id}}" label="{{username}}"></option>
                {{/each}}
            </select>
        </label>
        <div class="form-group">
          <textarea name="text" placeholder="Treść wiadomości"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>
        </div>
    </form>
</template>
