<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', user.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">email</label>
  <div class="controls">
    <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password'}) %>
  </div>
</div>
<div class="control-group">
  <label for="role" class="control-label">role</label>
  <div class="controls">
    <%- selectTag([
      {display: 'user', value: 'user'},
      {display: 'master', value: 'master'},
      {display: 'admin', value: 'admin'},
    ],
    user.role,
    {
      name: 'role',
      valueField: 'value',
      textField: 'display'
    }); %>
  </div>
</div>
