<div class="hero-unit">
  <h2 class="name"><%= user.name %></h2>
  <%- linkTo('Edit this user', editUserPath(params.id), {class: 'btn pull-right'}); %>
  <a href="?withMessages=true" class="btn pull-right">Show more info</a>
  <%- linkTo('Back to list', userPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>User Properties</h2>
<%- partial('layouts/attr_table', {model: user}) %>
