<div class="hero-unit">
  <h2>All PrivateMessages</h2>
  <%- linkTo('Create a new PrivateMessage', addPrivateMessagePath, {class: 'btn pull-right'}); %>
</div>

<div id="privateMessages-list">
<% if (privateMessages) { %>
<% for (var i = 0, ii = privateMessages.length; i < ii; i++) { %>
  <div class="row list-item" id="privateMessage-<%= privateMessages[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(privateMessages[i].id, privateMessagePath(privateMessages[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= privateMessages[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>