<div class="hero-unit">
  <h2 class="id"><%= privateMessage.id %></h2>
  <%- linkTo('Edit this privateMessage', editPrivateMessagePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', privateMessagePath(''), {class: 'btn pull-right'}); %>
</div>

<h2>PrivateMessage Properties</h2>
<%- partial('layouts/attr_table', {model: privateMessage}) %>
