<template name="orderDetails">
    <p>
        <ul>
        <li>createdAt: {{createdAt}}</li>
        <li>modifiedAt: {{modifiedAt}}</li>
        <li>createdAtTurn: {{createdAtTurn}}</li>
        <li>remindAtTurn: {{remindAtTurn}}</li>
        <li>senderName: {{senderName}}</li>
        </ul>
    </p>
    <p>
      <button type="button" data-action="save" class="btn btn-default" disabled>Zapisz Zmiany</button>
      {{#if isMaster}}
      <button type="button" data-action="delete" class="btn">Usuń Rozkaz</button>
      {{/if}}
    </p>
    <p class="order-content well" contenteditable={{userEditable}} >
        {{{content}}}
    </p>
    <p class="alert alert-info">
        Status rozkazu: {{status}} <span class={{orderStatusIcon status}}></span>
        {{#if canReply}}
        Nowy status:
        <select name="status">
            <option value="unread" label="unread"></option>
            <option value="read" label="read"></option>
            <option value="inprogress" label="inprogress"></option>
            <option value="executed" label="executed"></option>
        </select>
        {{/if}}
    </p>
    <p class="order-reply well" contenteditable={{canReply}}>
        {{{reply}}}
    </p>
</template>
