<template name="usersListItem">
    <tr>
        {{#if canEditRoles}}
        <td>
            <button class="delete">&times;</button>
        </td>
        {{/if}}
        <td>
            {{#if canEditRoles}}
            <select name="role" disabled={{disabled}}>
                <option value="user" selected={{isUser}} label="User"></option>
                <option value="master" selected={{isMaster}} label="Master"></option>
                <option value="admin" selected={{isAdmin}} label="Admin"></option>
            </select>
            {{else}}
            <mark>{{profile.role}}</mark>
            {{/if}}
        </td>
        <td class="text">
            <strong>{{username}}</strong>
        </td>
        <td class="text">
            {{#if canEditRoles}}
                <input type="text" name="factionName" value="{{profile.factionName}}" />
            {{else}}
                <mark>{{profile.factionName}}</mark>
            {{/if}}
        </td>
        <td>
            {{#if currentUser}}
            <form class="send-message">
                <input type="text" name="text" placeholder="Put message here" />
            </form>
            {{/if}}
        </td>
    </tr>
</template>
