<template name="usersList">
    <div class="">
        <h2>Users</h2>

        <table class="table table-striped">
            <thead>
                {{#if canEditRoles}}<td>usuń</td>{{/if}}
                <td>rola</td>
                <td>nick</td>
                <td>frakcja</td>
                <td>wiadomość</td>
            </thead>
            <tbody>
                {{#each users}}
                    {{> usersListItem}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
